<div class="container my-5">
  <%= link_to "â† Voltar", articles_path, class: "btn btn-secondary mb-4" %>

  <h1 class="display-4 mb-4">Editar Artigo: <%= @article.title %></h1>

  <%= render "form", article: @article %>
</div>
